[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restx = "*"
flask-sqlalchemy = "*"
pyjwt = "*"
werkzeug = "*"
pathlib = "*"
keras = "*"
tensorflow = "*"
pandas = "*"
flask-mysqldb = "*"
pyopenssl = "*"
mysqlclient = "*"
numpy = "*"
pillow = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.9"
